<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content="HTML Tidy for HTML5 (experimental) for Mac OS X https://github.com/w3c/tidy-html5/tree/c63cc39">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Lorem Ipsum Lorem Ipsum Lorem Ipsum</title>
  <link href="/assets/screen.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/assets/jquery.js" type="text/javascript"></script>
  <script src="/assets/site.js" type="text/javascript"></script>
</head>

<body>
  <div id="container">
    <header>
      <div class="logo">
        <p><img class="super_edit" super_name="main_logo" src="/assets/logo_mytechhelp.png" alt="logo_mytechhelp"></p>
        <p class="super_edit logoTagline" super_name="brand_tag_line">FOR BRAND NAME GOES HERE</p>
      </div>

      <div class="phoneHeader">
        <p class="super_edit" super_name="message-1">For Instant Android Support Call Now</p>
        <p><strong>(888)-000-0000</strong></p>
      </div>
    </header>

    <h1 class="super_edit tagline" super_name="tagline">Lorem Ipsum Dolor Sit Amet</h1>

    <div class="banner">
      <div class="bannerText">
        <p><strong>Call&nbsp;(888)-000-0000</strong><br>
        For Instant Android Tech Support!</p>
      </div>

      <div class="bannerImage"><img alt="banner" height="404" src="/assets/banner.png" width="893"></div>

      <div class="test-default-page"></div>
    </div>

    <div class="boxWrapper">
      <div class="box box1">
        <h2 class="super_edit" super_name="col1header">Lorem Ipsum</h2>

        <ul>
          <li class="superitem" super_name="chat_list">
            <img alt="icon" height="47" src="/assets/icon.png" width="47">
            <p class="super_edit" super_name="chat-brand">HTC</p>
          </li>

          <li class="superitem" super_name="chat_list">
            <img alt="icon" height="47" src="/assets/icon.png" width="47">
            <p class="super_edit" super_name="chat-brand">Panasonic</p>
          </li>

          <li class="superitem" super_name="chat_list">
            <img alt="icon" height="47" src="/assets/icon.png" width="47">
            <p class="super_edit" super_name="chat-brand">LG</p>
          </li>

          <li class="superitem" super_name="chat_list">
            <img alt="icon" height="47" src="/assets/icon.png" width="47">
            <p class="super_edit" super_name="chat-brand">Motorola</p>
          </li>

          <li class="superitem" super_name="chat_list">
            <img alt="icon" height="47" src="/assets/icon.png" width="47">
            <p class="super_edit" super_name="chat-brand">Samsung</p>
          </li>

          <li class="superitem" super_name="chat_list">
            <img alt="icon" height="47" src="/assets/icon.png" width="47">
            <p class="super_edit" super_name="chat-brand">Sony</p>
          </li>
        </ul>
      </div>

      <div class="box box3">
        <h2 class="super_edit" super_name="box2header">Lorem Ipsum</h2>

        <ul>
          <li class="superitem super_edit textlist" super_name="list_one">Lorem Ipsum</li>
          <li class="superitem super_edit textlist" super_name="list_one">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem&nbsp;</li>
          <li class="superitem super_edit textlist" super_name="list_one">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;</li>
          <li class="superitem super_edit textlist" super_name="list_one">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;</li>
          <li class="superitem super_edit textlist" super_name="list_one">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;</li>
        </ul>
      </div>

      <div class="box box2">
        <h2 class="super_edit" super_name="col3header">Lorem Ipsum</h2>

        <ul>
          <li class="superitem super_edit textlist" super_name="list_two">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;</li>
          <li class="superitem super_edit textlist" super_name="list_two">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;</li>
          <li class="superitem super_edit textlist" super_name="list_two">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem</li>
          <li class="superitem super_edit textlist" super_name="list_two">Lorem Ipsum&nbsp;</li>
          <li class="superitem super_edit textlist" super_name="list_two">Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;Lorem Ipsum&nbsp;</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="footerPhone">
        <p>Call Now</p>
        <p><strong>(888)-000-0000</strong></p>
      </div>

      <div class="disclaimer">
        <p>MyTechHelp.com, LLC is an independent third party website and support service and is not affiliated with any advertised brand. All logos are registered trademarks of their respective corporation.</p>

        <p><a href="http://www.mytechhelp.com/privacy-policy.aspx#axzz2E0VCwiu0" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;<a href="http://www.mytechhelp.com/terms-conditions.aspx#axzz2E0VCwiu0" target="_blank">Terms and Conditions</a></p>
      </div>

      <div class="flags">
        <p><img src="/assets/flag_usa.png" alt="flag_usa"><img src="/assets/flag_canada.png" alt="flag_canada"><img src="/assets/flag_uk.png" alt="flag_uk"></p>
      </div>
    </footer>
  </div><script type="text/javascript">
//<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21807098-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  //]]>
  </script>
  <script src="/assets/superedit.js" type="text/javascript"></script>
  <link type="text/css" rel="stylesheet" href="/assets/superedit.css" />
</body>
</html>
