<div id="super_editor_settings">
  <h2>Page Settings:</h2>
  <div class="col">
    <p id="super_collection_buttons">
      Item Groups:
      <br />
      <button id="super_collection_add_button">Add New Item</button>
      <button id="super_collection_remove_button">Remove Item</button>
    </p>
  </div>

  <div class="col">
    <div>
      <label>Page Location:</label>
      <br />
      <input id="superslug" type="text" size="40" />
    </div>
    <br/>
    <div>
      <label>Title:</label>
      <br />
      <input id="supertitle" type="text" size="40" />
    </div>
    <br/>
    <div>
      <label>Google Analytics:</label>
      <br />
      <input type="text" size="40" />
    </div>
  </div>

  <div class="col last-col">
    <button id="super_save">Save Page</button>
    <br/>
    <button>Cancel</button>
  </div>

</div>
